@use "../scss/utilities/fonts";
@use "../scss/utilities/colors";
@import "../scss/views/header";
@import "../scss/views/searchInputs";
@import "../scss/views/gridContainer";
@import "../scss/views/singleCountry";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: fonts.$nunito;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
  margin: 1rem 0;
}

main {
  background-color: colors.$VeryLightGray;
}
