@use "../utilities/colors";
@use "../utilities/mixins";

.grid {
  display: grid;
  gap: 3rem;
  padding-bottom: 1rem;
  &-card {
    width: 90vw;
    margin: 0 auto;
    background-color: colors.$White;
    overflow: hidden;
    @include mixins.boxShadow(10px);
    border-radius: 0.3rem;
    cursor: pointer;
  }

  &-card-top img {
    width: 100%;
    object-fit: cover;
  }

  &-card-bottom {
    padding: 2rem;

    h3 {
      font-size: clamp(1.5rem, 2vw, 2rem);
      padding-bottom: 1rem;
    }

    span {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin: 1rem 0;

      p:first-of-type {
        color: colors.$DarkBlue;
      }

      p:last-of-type {
        color: colors.$DarkGray;
      }
    }
  }
}

.grid.inactive {
  display: none;
}

.loader {
  display: flex;

  img {
    margin: 0 auto;
  }
}
.loader.hide {
  display: none;
}

@media screen and (min-width: 769px) {
  .grid {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    max-width: 90vw;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;

    &-card {
      width: unset;
      margin-inline: 0;
    }
  }
}

.countries-wrap.darkmode {
  background-color: colors.$VeryDarkBlue;
}

.grid-card.darkmode {
  background-color: colors.$DarkBlue;
  color: colors.$White;

  p {
    color: colors.$VeryLightGray !important;
  }
}
