@use "../utilities/colors";
@use "../utilities/fonts";
@use "../utilities/mixins";

.header {
  @include mixins.boxShadow(4px);
  background-color: colors.$White;

  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    padding: 2rem 0;
    color: colors.$VeryDarkBlue2;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 0.95rem;

    i {
      transform: rotate(-20deg);
    }
  }
}
// .header.darkmode {
//   background-color: colors.$DarkBlue;
//   color: colors.$White;
// }
