@use "../utilities/colors";
@use "../utilities/mixins";

.country {
  // width: 100vw;
  background: colors.$VeryLightGray;
  // height: 100vh;

  .wrap {
    width: 90vw;
    margin: 0 auto;

    .go-back-btn {
      @include mixins.boxShadow(10px);
      @include mixins.border(#222);
      margin: 2rem 0 4rem 0;
      i {
        color: #000;
        padding-right: 0.5rem;
      }
    }
  }

  &-container {
    &-left img {
      width: 100%;
    }

    &-right {
      &-col {
        h3 {
          margin: 2rem 0;
          font-size: clamp(1.3rem, 2vw, 2rem);
          color: colors.$VeryDarkBlue;
        }
        h4 {
          font-size: clamp(1rem, 1.9vw, 1rem);
          color: colors.$VeryDarkBlue;
        }
        p {
          color: #444;
        }
      }
      // &-col:nth-child(2) {
      //   margin: 3rem 0;
      // }
    }
  }
}
.borders-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
  .borders {
    @include mixins.border(#222);
    @include mixins.boxShadow(10px);
    width: 6rem;
    height: 1.75rem;
    display: grid;
    place-content: center;
    cursor: pointer;
  }
}

.country.inactive {
  display: none;
}
.go-back-btn.hide {
  display: none;
}

@media screen and (min-width: 769px) {
  .country-container {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    &-left {
      flex: 1;
    }

    &-right {
      flex: 1;

      h3 {
        font-size: 2rem;
      }
      > div {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0;
      }
    }
  }
}

.country.darkmode {
  background-color: colors.$DarkBlue;
  color: colors.$White;
}
